body{
  margin: auto 0;/*por defecto es auto, que significa que ocupará
                  toda la anchura disponible de su padre.*/
}
.zone {
    /*padding:30px 50px;
    margin:40px 60px;*/
    cursor:pointer;
    /*display:inline-block;*/

    color:#000000;
    font-size:2em;
    border-radius:4px;
    border:1px solid #bbb;
    transition: all 0.3s linear;
}

.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}
.main-nav, .footer-icons{/*Usando la clase del ul manipulamos con flexbox los items del header*/
  display: flex;
  list-style: none;
  font-size: 0.7em;/*font-size: 1em;*//*1 em un buen tamano similar al h4*/
  margin: 0;       /*cconseguir solo modificar tamano del li contact*/
}
@media only screen and (max-width:600px){
  .main-nav{
    font-size: 0.5em;
    padding: 0;
  }
}
.push{
  margin: 0 auto;/*por defecto es auto, que significa que ocupará
                  toda la anchura disponible de su padre.*/
  color: #f5f5f6;
}
.zone.red{
  background-color: #ffffff;
}
li{
  padding: 20px;
}
a{
  color: #f5f5f6;
  text-decoration: none;
}
.container-fluid2{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150vh;
}
.fab{
  color:#b416ff;
}

/*https://paulund.co.uk/how-to-create-shiny-css-buttons*/
/***********************************************************************
 *  Blackness Background header zone -icon and contact-
 **********************************************************************/
.green{
    background: #5b5a56; /* Old browsers */
    background: -moz-linear-gradient(top, #5b5a56 0%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5b5a56), color-stop(100%,#000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #5b5a56 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #5b5a56 0%,#000000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #5b5a56 0%,#000000 100%); /* IE10+ */
    background: linear-gradient(top, #5b5a56 0%,#000000 100%); /* W3C */
}

/***********************************************************************
 *  White Background the cover zone -form zone-
 **********************************************************************/
.red{
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #5b5a56 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5b5a56), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #5b5a56 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #5b5a56 0%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #5b5a56 0%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(top, #5b5a56 0%,#ffffff 100%); /* W3C */
}

/***********************************************************************
 *  Yellow Background
 **********************************************************************/
.yellow{
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F3AAAA), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(top, #ffffff 0%,#ffffff 100%); /* W3C */
}

/***********************************************************************
 *  Blue Background
 **********************************************************************/
.blue{
    background: #7abcff; /* Old browsers */
    background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
    background: linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
}
